<main class="main">
    <div class="content">
        <div [ngClass]="isSpecial ? 'special' : ''" [ngStyle]="currentStyles">This div is special</div>
        <div *ngIf="userName">Working cause username is not null</div>
        <div>
            <label for="example-ngModel">Nom: {{userName}}</label>
            <div>
                <input [(ngModel)]="userName" id="example-ngModel" (ngModelChange)="setUppercaseName($event)">
            </div>
        </div>
        <div>
            <h2>List</h2>
            <li *ngFor="let item of listOfItems">{{ item }}</li>
        </div>
        <div>
            <div>
                <p>Counter: </p>
            </div>
        </div>
    </div>
</main>
<app-form/>
<app-todos/>
<router-outlet />
